include layout.pug
  <body class="bg">
    div.up
      div.upleft
        h1 Дизайн Сайта
      div.upright
        img(src="img/profile.png" class="kart1")
    div.container2
      include new.pug
  </body>
</html>