include layout.pug
  <body class="bg">
    div.vxod
      <div class="vhod"><div class="verhh"><h3>Регистрация<h3></div></div>
        <div class="int"><h5>Введите e-mail:</h5>
            <input type="text" size="28">
        </div>
        <div class="int2"><h5>Придумайте пароль:</h5>
            <input type="text" size="28">
        </div>
      div.vxod-niz
          <div class="b1"><button class="b1-style">Принять</button></div>
          <div class="reg-b"><a style="text-decoration: none; color: black;" href="http://localhost:3000/vxod"><h6>Вход?</h6></a></div>
      </div>  
      </div>
    </div>
  </body>
</html>