for n2 in n.tasks
    div.zadacha
            div.name #
                h4 #{n2.id}: 
                h4 #{n2.name}
            div.name2 
                h5 #{n2.description}
            div.inf
                <div class="avatar"><img src="img/avatar.png" alt="profile" style="width: 63px; height: 63px;"></div>
                div.inform
                    div.graybox
                    div.graybox2
                    div.greenkryg
                    div.text_clock
                    <img src="img/clock.svg" alt="profile" style="width: 17px; height: 17px; opacity: 0.65;">
                    <img src="img/comm.svg" alt="profile" style="width: 18px; height: 18px; opacity: 0.65;">
                    <img src="img/bars.svg" alt="profile" style="width: 18px; height: 18px; opacity: 0.65;">
                    <button class="delete-btn"><img src="img/korzina.png" style="width: 23px; opacity: 0.7;"></button>